#faq_container {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.faq_question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    display: table;
}

.question {
    margin-bottom: 5px;
    display: table-cell;
    width: 100%;
}

.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
}

.accordion-button-icon {
    display: table-cell;
    line-height: inherit;
    opacity: .5;
    filter: alpha(opacity = 50);
    padding-left: 15px;
    vertical-align: middle;
}