/* Styling for ARC Staff, Publication and Project CPTs*/


/*
 * 1. Project CSS
 * 2. Staff CSS
 * 3. Media Queries
 */

/*
 * 1. Project CSS
 * Single Project Template
 */

.post-type-archive-project .site-inner {
 max-width: 2000px;
}

.post-type-archive-project.full-width-content .content {
/* DIsplay more projects on larger screens*/
 padding: 0 5%;
}
/*
 * Project  Archive
 */

/* Header
------------------ */

.archive-description{border: none;}
.archive-title{
    font-size: 4.8rem;
    text-align: center;
}

/* Filterable project Grid
-------------------------------- */

.cpt-archive-description {
 margin-bottom: 50px;
}

.project-wrap {
 margin-top: 12px;
 margin-left: -39px;
}

.project-content .entry {
 width: 374px;
 margin-bottom: 39px;
 margin-left: 39px;
 background: #fff;
 position: relative;
}

.project-content  .entry-header:after {
 border-bottom: none;
 margin-bottom: 0;
 padding-bottom: 0;
}

.post-type-archive-project .archive-title{
   /* border-bottom: 1px solid #000;*/.post-type-archive-project .archive-title
    content: "";
    display: block;
    margin: 0 auto 50px;
    padding-bottom: 30px;
    /*width: 25%;*/
}

.project-content .entry-content-wrap {
 padding: 0px;
 position: relative;
 top: 0;
 opacity: 100;
}

.project-content .entry img {
/* display: block;
 left: 0;
 -webkit-transition:  all .2s linear;
 -moz-transition:  all .2s linear;
 -o-transition:  all .2s linear;
 transition:  all .2s linear;
}

.project-content .entry:hover img {
 /*opacity: 0.1;*/
}

.project-content .entry:hover .entry-content-wrap {
 opacity: 1;
}

.project-content .entry .entry-title {
 font-size: 20px;
 font-weight: normal;
 margin-bottom: 10px;
}

.project-content .entry .entry-title a {
 color: #000;
}

.project-content .entry p {
 color: #fff;
 font-size: 16px;
 margin-bottom: 0;
}

.project-content .entry .entry-content a:hover {
 color: #fff;
}

.prev-next-post-links {
 overflow: hidden;
}

.previous-post-link {
 float: left;
}

.next-post-link {
 float: right;
}

.project-image-single {
 text-align: center;
 margin-top: 10px;
 margin-bottom: 30px;
}

.taxonomy-title {
 margin-top: 30px;
 margin-bottom: 30px;
}

.video-button {
 text-align: center;
 margin-top: 0px;
}

.video-button a.button {
 padding: 5px 10px;
 letter-spacing: 1px;
 color: #000;
 background: #fff;
 border: none;
}

.entry-footer::before{
 border-top:none;
 margin:0px;
}

.isotope-item{
    height:250px;
}


/*
Filterable project
------------------------ */

ul.filter {
 color: #999;
 list-style: none;
 margin-left: 0;
}

ul.filter li {
 float: left;
 margin-left: 8px;
 margin-bottom: 8px;
}
ul.filter li:first-child {
 margin-left: 0;
}

ul.filter a {
 background: #333;
 color: #fff;
 display: block;
 padding: 4px 10px;
 text-decoration: none;
 border-bottom: none;
 font-size: 16px;
 text-transform: uppercase;
}

ul.filter a:hover, ul.filter a.active {
 background: #ecb538;
 color: #000;
}

.isotope-item {
 z-index: 2;
}

.isotope-hidden.isotope-item {
 pointer-events: none;
 z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
 -webkit-transition-duration: 0.8s;
 -moz-transition-duration: 0.8s;
 -ms-transition-duration: 0.8s;
 -o-transition-duration: 0.8s;
 transition-duration: 0.8s;
}

.isotope {
 -webkit-transition-property: height, width;
 -moz-transition-property: height, width;
 -ms-transition-property: height, width;
 -o-transition-property: height, width;
 transition-property: height, width;
}

.isotope .isotope-item {
 -webkit-transition-property: -webkit-transform, opacity;
 -moz-transition-property:    -moz-transform, opacity;
 -ms-transition-property:     -ms-transform, opacity;
 -o-transition-property:      -o-transform, opacity;
 transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
 -webkit-transition-duration: 0s;
 -moz-transition-duration: 0s;
 -ms-transition-duration: 0s;
 -o-transition-duration: 0s;
 transition-duration: 0s;
}



/*
 * 2. Staff CSS
 */





/*
 * 3. Media Queries
 */

@media only screen and (max-width: 1280px) {

 .project-content .entry {
  width: 353px;
 }

 .archive .project-content .entry {
  width: 350px;
 }

}

@media only screen and (max-width: 1024px) {

 .project-content .entry-content-wrap {
  position: static;
  opacity: 1;
  padding: 30px;
 }

 .project-content .entry:hover img {
  opacity: 1;
 }

}

@media only screen and (max-width: 800px) {

 .project-content .entry {
  width: 340px;
 }

}

@media only screen and (max-width: 768px) {

 .archive .project-content .entry {
  width: 325px;
 }

}

@media only screen and (max-width: 798px) {

 .project-content .entry {
  width: 300px;
 }

}

