/* CSS for WPFacet listings */

#genesis-sidebar-primary{margin-top: 150px}


/*.facetwp-facet{*/
    /*margin-bottom: 10px!important;*/
/*}*/

/*.facetwp-template .one-half,.facetwp-template .one-fourth{*/
    /*margin-bottom: 0px!important;*/
/*}*/

/*div.facet-row {*/
    /*padding:7px 0 7px 5px;*/
/*}*/

/*div.facet-row.even {*/
    /*background: #dadada;*/
/*}*/

@media only screen and (max-width: 768px) {
    /* For mobile: */
    div.one-half.header, div.one-half.first.header,div.one-fourth.header, div.one-fourth.first.header{
        display: none;
    }


    div.one-fifth.first.name::before{content: "Name: ";display:inline-block;}
    div.one-fifth.email::before{content: "Email: ";display:inline-block;}
    div.one-fifth.division::before{content: "Division: ";display:inline-block;}
    div.one-fifth.role::before{content: "Role: ";display:inline-block;}
    div.one-fifth.group::before{content: "PI Group: ";display:inline-block;}


    div.one-fourth.first.name::before{content: "Name:\00a0 ";display:inline-block;}
    div.one-fourth.email::before{content: "Email:\00a0 ";display:inline-block;}
    div.one-fourth.role::before{content: "Role:\00a0 ";display:inline-block;}
    div.one-fourth.group::before{content: "PI Group:\00a0 ";display:inline-block;}


}